Options -Indexes

Redirect 301 /assets/groove2groove_taslp2020.pdf https://hal.archives-ouvertes.fr/hal-02923548/document
Redirect 301 /data/paper.pdf https://hal.archives-ouvertes.fr/hal-02923548/document
