<footer class="footer">
  <div class="container">
    <div class="row" style="align-items: center;">
      <div class="col-5 col-lg-3 col-xl-5">
        <p>Created by <a href="https://ondrej.cifka.com" target="_blank">Ondřej Cífka</a>
        at <a href="https://www.telecom-paris.fr" target="_blank">Télécom Paris</a>.</p>
        <p>Demo built with <a href="https://github.com/magenta/magenta-js/" target="_blank">Magenta.js</a>.</p>
      </div>
      <div class="col-7 col-lg-9 col-xl-7">
        <img src="{{ "/assets/img/eu-flag.svg" | relative_url }}" alt="EU Flag" class="eu-flag">
        <p>This project has received funding from the European Union's Horizon 2020 research and innovation programme under the Marie Skłodowska-Curie grant agreement No. 765068 (<a href="https://mip-frontiers.eu/" target="_blank">MIP-Frontiers</a>).</p>
      </div>
    </div>
  </div>
</footer>
