html {
  scroll-behavior: smooth;
}

nav.navbar {
  background-color: #000;

  @include media-breakpoint-up(sm) {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
}

header {
  position: relative;
  display: block;
  background: no-repeat center center;
  background-color: #777;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: multiply;

  .container {
    color: #fff;
    text-align: center;
    padding: 60px 15px 60px 15px;
  }

  &.tall .container {
    padding-top: 100px;
    padding-bottom: 70px;

    @include media-breakpoint-down(xs) {
      padding-top: 75px;
      padding-bottom: 60px;
    }
  }

  h1, .heading {
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 0.03em;
    margin-top: 0;

    @include media-breakpoint-down(sm) {
      font-size: 2.5rem;
    }

    @include media-breakpoint-down(xs) {
      font-size: 2.2rem;
    }

    a:link, a:hover, a:active, a:visited {
      color: inherit;
      text-decoration: none;
    }
  }
  .subheading {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    margin: 10px 0 0;

    @include media-breakpoint-down(sm) {
      font-size: 1.5rem;
    }

    @include media-breakpoint-down(xs) {
      font-size: 1.4rem;
    }
  }

  .btn {
    @include media-breakpoint-up(sm) {
      // Like .btn-lg
      @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
    }

    @media (max-width: 430px) {
      width: 40%;
    }
  }
}


body {
  /* Sticky footer */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 95%;
  background-color: #f9f9f9;
  border-top: 1px solid #dadada;
  color: #555;

  p {
    margin-bottom: 0.3rem;
  }

  .eu-flag {
    float: left;
    margin: 5px 10px 0 0;

    height: 3.5rem;
    @include media-breakpoint-down(sm) {
      height: 2rem;
    }
  }
}

main {
  padding-top: 40px;
  padding-bottom: 20px;
  flex: 1;

  h1 {
    margin-bottom: 1.5rem;
  }

  h2, h3, h4 {
    .badges {
      font-size: 0.85 * $h3-font-size;
      flex-wrap: wrap;
      $badge-margin-h: 0.2rem;
      margin: 0 (-$badge-margin-h);
      margin-top: 0.3rem;

      @include media-breakpoint-down(sm) {
        display: inline-flex;
      }

      @include media-breakpoint-up(md) {
        display: flex;
      }

      .badge {
        @include badge-variant($gray-300);

        margin: 0.1rem $badge-margin-h;

        .oi {
          font-size: 70%;
          margin-right: 0.25rem;
        }
      }
    }
  }
}

.icon-sm {
  font-size: 85%;
}

.cursor-progress, .cursor-progress * {
  cursor: progress !important;
}

.lead {
  text-align: justify;

  @media (max-width: 430px) {
    text-align: center;
  }
}

.embed-container {
  position: relative;
  padding-bottom: percentage(9/16);
  height: 0;
  overflow: hidden;
  max-width: 100%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

button.link {
  @extend .btn, .btn-link;
  padding: 0;
  margin: 0;
  border: none;
  display: inline;
  vertical-align: baseline;
}

blockquote {
  padding: 0 1em;
  color: $gray-600;
  border-left: .25em solid $gray-400;
}

.card.floating-card {
  @include media-breakpoint-up(md) {
    float: right;
    width: 20rem;
    margin-left: 10px;
  }

  margin-bottom: 10px;
}

table.preset-table{
  margin-bottom: 0;

  th {
    padding-top: 0;
  }

  td {
    vertical-align: middle;
    padding: 0.5rem;
  }
}


#presetModal {
  overflow-x: auto;

  .modal-content {
    @include media-breakpoint-down(xs) {
      width: auto;  // override width: 100%
    }
  }

  table.preset-table {
    min-width: 350px;

    thead th {
      border-top: none;
    }
  }
}

.modal-meme {
  display: block;
  max-width: 100%;
  max-height: 40vh;
  width: auto;
  height: auto;
  margin: 1rem auto;

  @include media-breakpoint-between(sm, lg) {
    max-width: 85%;
  }
}


$instrument-colors: $blue, $red, $teal, $indigo, $yellow, $pink, $cyan, $orange, $green;


.section {
  margin-top: 2ex;
  margin-bottom: 2ex;
}

.visualizer-container {
  overflow-x: auto;

  .beat-bar {
    display: flex;
    font-size: 70%;
    word-wrap: normal;

    .beat {
      display: inline-block;
      flex: 0 0;
      box-sizing: border-box;
      background: #eee;
      border-left: 1px solid #ddd;
    }
    .beat.downbeat {
      border-left: 2px solid #ccc;
      padding-left: 2px;
      z-index: 1;
    }
  }
}

.visualizer-card {
  .card-header {
    padding: 0.2rem 0.4rem;
  }

  .card-footer {
    padding: 0.7rem 0.9rem;
  }
}

.tempo {
  max-width: 6em;
}

.generate-button {
  @include media-breakpoint-down(xs) {
    display: block;
    width: 100%;
  }

  @include media-breakpoint-up(sm) {
    @include border-left-radius(0);
    margin-left: -$input-border-width;
  }
}

.sampling-group {
  @include media-breakpoint-down(xs) {
    max-width: 75%;
  }

  .input-group-text {
    overflow: hidden;

    label {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

#samplingTemperature {
  @include border-right-radius($input-border-radius);
  margin-left: -$input-border-width;

  @include media-breakpoint-up(sm) {
    max-width: 4.5em;
    @include border-right-radius(0);
    margin-right: -$input-border-width;
  }
}

label[data-instrument] {
  border-bottom: 3px solid transparent;
}

svg {
  rect.note {
    opacity: calc(min(1, (var(--midi-velocity) + 20) / 128) * 0.75);

    &.active {
      opacity: calc(min(1, (var(--midi-velocity) + 30) / 128) * 0.9);
      stroke: black;
      stroke-width: 0.75;
      stroke-opacity: 0.5;
    }
  }
}

@for $i from 0 to 200 {
  $color: nth($instrument-colors, ($i % length($instrument-colors)) + 1);
  label[data-instrument="#{$i}"] {
    border-bottom-color: $color;
  }
  svg rect.note[data-instrument="#{$i}"] {
    fill: $color;
  }
}
