$icon-font-path: "~open-iconic/font/fonts/";
@import "~bootstrap/scss/bootstrap";
@import "~open-iconic/font/css/open-iconic-bootstrap";


/* Sticky footer */
$footer-height: 60px;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 95%;
  background-color: #f5f5f5;
}
/* End sticky footer */


.cursor-progress, .cursor-progress * {
  cursor: progress;
}


$instrument-colors: $blue, $indigo, $pink, $red, $orange, $yellow, $green, $teal, $cyan;


.section {
  margin-top: 2ex;
  margin-bottom: 2ex;
}

.visualizer-container {
  overflow-x: auto;
}

.visualizer-card {
  .card-header {
    padding: 0.2rem 0.4rem;
  }

  .card-footer {
    padding: 0.7rem 0.9rem;
  }
}

.tempo {
  max-width: 6em;
}

label[data-instrument] {
  border-bottom: 3px solid transparent;
}

svg {
  rect[data-instrument] {
    opacity: 0.7;
  }

  rect[data-instrument].active {
    opacity: 0.9;
    stroke: black;
    stroke-width: 0.75;
    stroke-opacity: 0.5;
  }
}

@for $i from 0 to 200 {
  $color: nth($instrument-colors, ($i % length($instrument-colors)) + 1);
  label[data-instrument="#{$i}"] {
    border-bottom-color: $color;
  }
  svg rect[data-instrument="#{$i}"] {
    fill: $color;
  }
}

#presetModal table.table thead th {
  border-top: none;
}
